<h1><%= @race.name %></h1>

<p>Key: <%= @race.key %></p>

<p>Name: <%= @race.name %></p>

<p>Size: <%= @race.size %></p>

<p>Speed: <%= @race.speed %></p>

<h3>Ability Score Increases</h3>
<% if @race.asi_str > 0 %>
    <p>Strength: <%= @race.asi_str %></p>
<% end %>

<% if @race.asi_dex > 0 %>
    <p>Dexterity: <%= @race.asi_dex %></p>
<% end %>

<% if @race.asi_con > 0 %>
    <p>Constitution: <%= @race.asi_con %></p>
<% end %>

<% if @race.asi_int > 0 %>
    <p>Intelligence: <%= @race.asi_int %></p>
<% end %>

<% if @race.asi_wis > 0 %>
    <p>Wisdom: <%= @race.asi_wis %></p>
<% end %>

<% if @race.asi_cha > 0 %>
    <p>Charisma: <%= @race.asi_cha %></p>
<% end %>

<% if @race.subraces.size > 0 %>
    <h3>Subraces</h3>
    <ul>
        <% @race.subraces.each do |subrace| %>
            <li><%= subrace.name %> <%= link_to "Edit", edit_race_subrace_path(subrace) %></li>
        <% end %>
    </ul>
<% end %>

<h2>Add a Subrace:</h2>
<%= form_with model: [@race, @race.subraces.build] do |form| %>
    <p>
        <%= form.label :key %><br>
        <%= form.text_field :key %>
    </p>
    <p>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
    </p>
    <p>
        <%= form.label "Strength ASI" %><br>
        <%= form.number_field :asi_str %>
    </p>
    <p>
        <%= form.label "Dexterity ASI" %><br>
        <%= form.number_field :asi_dex %>
    </p>
    <p>
        <%= form.label "Constitution ASI" %><br>
        <%= form.number_field :asi_con %>
    </p>
    <p>
        <%= form.label "Intelligence ASI" %><br>
        <%= form.number_field :asi_int %>
    </p>
    <p>
        <%= form.label "Wisdom ASI" %><br>
        <%= form.number_field :asi_wis %>
    </p>
    <p>
        <%= form.label "Charisma ASI" %><br>
        <%= form.number_field :asi_cha %>
    </p>
    <p>
        <%= form.submit %>
    </p>
<% end %>



<ul>
    <li>
        <%= link_to "Edit", edit_race_path(@race) %>
    </li>
</ul>