<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>D&D Manager</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <ul>
                <li><%= link_to "Characters", characters_path %></li>
                <li><%= link_to "Races", races_path %></li>
                <li><%= link_to "Languages", languages_path %></li>
                <li><%= link_to "Proficiencies", proficiencies_path %></li>
                <li><%= link_to "Race Traits", race_traits_path %>
            </ul>
        </div>
    </div>
</div>

