<%= form_with model: character do |form| %>
    <div>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
        <% character.errors.full_messages_for(:name).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :race %><br>
        <%= form.collection_select :race_id, @races.order(:name), :id, :name %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>