<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1><%= @character.name %></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <% if @character.race %>
                <% if @character.subrace %>
                    <p><%= @character.subrace.name %></p>
                <% else %>
                    <p><%= @character.race.name %></p>
                <% end %>
            <% end %>

        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h2>Features & Traits</h2>
            <% if @character.race != nil %>
                <% @character.race.race_traits.each do |race_trait| %>
                    <div class="mb-3">
                        <b><%=race_trait.name %></b>
                        <p><%= race_trait.description %></p>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h3>Languages</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <ul>
                <% if @character.race != nil %>
                    <% @character.race.languages.each do |language| %>
                        <li><%= language.name %></li>
                    <% end %>
                <% end %>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h2>Defenses</h2>
            <b>Damage Resistances</b>
            <ul>
                <% @damage_resistances.each do |resistance| %>
                    <li><%= resistance %></li>
                <% end %>
            </ul>
            <b>Saving Throw Advantages</b>
            <ul>
                <% @saving_throw_advantages.each do |saving_throw| %>
                    <li><%= saving_throw %></li>
                <% end %>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <ul>
                <li>
                    <%= link_to "Edit", edit_character_path(@character) %>
                </li>
                <li>
                    <%= link_to "Characters", characters_path %>
                </li>
            </ul>
        </div>
    </div>
</div>

