<h1><%= @character.name %></h1>
<% if @character.race %>
<p><%= @character.race.name %></p>
<% end %>
<h2>Features & Traits</h2>
<h3>Languages</h3>
<ul>
    <% @character.race.languages.each do |language| %>
        <li><%= language.name %></li>
    <% end %>
</ul>

<ul>
    <li>
        <%= link_to "Edit", edit_character_path(@character) %>
    </li>
    <li>
        <%= link_to "Destroy", character_path(@character), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
</ul>